@import url(http://fonts.googleapis.com/css?family=Oswald:400,300,700);
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200&display=swap');

*{
  box-sizing: border-box;
}
main{
  margin-left: 250px;
  padding:10px;
}


.tableFixHead  { overflow-y: auto; }

.tableFixHead thead th { position: sticky; top: 0; }

.box{
  margin-top: 7%;
  padding: 2%;
  color: blue;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.nav-hr{
  height:.5px;
  margin-top:50px;
  width: 80%;
  color: blue;
  background-color: rgb(116, 128, 240);
  border-radius: 100%;

}

.navbrand{
  margin-top: 10%;
  
}
nav{
  left:0;
  top:0;
  position: fixed;
  height:100%;
  width: 250px;
  background-color: blanchedalmond;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
